<!DOCTYPE html>
<html lang="en">
<body class="container">

<main>
    <div>
        <h1>Edit Score - Date</h1>
        <form action="/scores/<%= allianceId %>/editdate" method="post">
			<label for="dateDay">Day</label><label for="dateMonth">Month</label><label for="dateYear">Year</label>
			<input type="text" name="dateDay" value="<%= day %>"/><input type="text" name="dateMonth" value="<%= month %>"/><input type="text" name="dateYear" value="<%= year %>"/><br/>

			<br/>
			<input type="submit" id="scoreEnter" value="choose"/>
		</form>
    </div>
</main>

</body>
</html>
