<!DOCTYPE html>
<html lang="en">

<body class="container">

<main>
    <div>
        <h1>No idea what you want!</h1>
        <p>Have no idea what you just clicked but it was obvously not a good click</p>
    </div>
</main>


</body>
</html>
